# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/local.properties
android/app/src/main/java/
android/.gradle/
android/key.properties
*.jks
*.keystore

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Secrets
.env
google-services.json
GoogleService-Info.plist
